<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="side" opened class="sidenav">
    <div class="brand">
      <mat-icon>analytics</mat-icon>
      <span>Telemetria</span>
    </div>
    <mat-nav-list>
      <a mat-list-item routerLink="/imoveis" routerLinkActive="active">
        <mat-icon matListItemIcon>apartment</mat-icon>
        <span matListItemTitle>Imóveis</span>
      </a>
      <a mat-list-item routerLink="/medidores" routerLinkActive="active">
        <mat-icon matListItemIcon>speed</mat-icon>
        <span matListItemTitle>Medidores</span>
      </a>
      <a mat-list-item routerLink="/leituras" routerLinkActive="active">
        <mat-icon matListItemIcon>bar_chart</mat-icon>
        <span matListItemTitle>Leituras & Consumo</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Sistema de Telemetria de Consumo</span>
    </mat-toolbar>

    <main class="content">
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>