.container {
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  flex: 1;
}

.card-formulario, .card-tabela {
  width: 100%;
 
}

.form-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 16px;
  align-items: center;
}

.acoes-form {
  display: flex;
  gap: 12px;
  margin-top: 8px;
}

.busca {
  width: 40%;
  margin-bottom: 16px;
}

table {
  width: 100%;
}

.empty-message {
  padding: 24px;
  text-align: center;
  color: #757575;
  font-style: italic;
}




/* display: flex;
flex-direction: column; */
/* .container {
  width: 100%;
  gap: 20px;
}

.form-card,
.table-card {
  padding: 16px;
}

.form-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  
  gap: 16px;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 16px;
}

mat-form-field {
  flex: 1;
  min-width: 250px;
}

.form-actions {
  display: flex;
  gap: 8px;
}

.table-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.filter-header {
  display: flex;
  justify-content: flex-end;
}

.search-field {
  max-width: 400px;
  width: 100%;
}

.table-card {
  overflow-x: auto;
}

table {
  width: 100%;
}

.empty-message {
  padding: 24px;
  text-align: center;
  color: #757575;
  font-style: italic;
}

.busca {
  width: 40%;
  margin-bottom: 16px;
}

 
  */
 
 
 
 
 
 /* .container {
   display: flex;
   flex-direction: column;
   gap: 20px;
 }
 
 .form-card {
   padding: 16px;
 }
 
 .form-content {
   display: flex;
   gap: 16px;
   align-items: center;
   flex-wrap: wrap;
   margin-top: 16px;
 }
 
 mat-form-field {
   flex: 1;
   min-width: 250px;
 }
 
 .form-actions {
   display: flex;
   gap: 8px;
 }
 
 .table-card {
   overflow-x: auto;
 }
 
 table {
   width: 100%;
 } */

 
 