.container {
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.card-formulario, .card-tabela {
  width: 100%;
}

.form-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 16px;
  align-items: center;
}

.acoes-form {
  display: flex;
  gap: 12px;
  margin-top: 8px;
}

.input-leitura{
  width: 100%;
}

.busca {
  width: 40%;
  margin-bottom: 16px;
}

table {
  width: 100%;
}

.empty-message {
  padding: 24px;
  text-align: center;
  color: #757575;
  font-style: italic;
}

.filtros-grid .mat-mdc-form-field {
  /* font-size: 13px; */
 
}

.filtros-grid .mat-mdc-text-field-wrapper {
  padding-top: 0;
  padding-bottom: 0;
  
}

/* leituras.component.css ou .scss */

.filtros-grid ::ng-deep .mat-mdc-text-field-wrapper {
  height: 35px ; /* Ajuste para a altura desejada */
  
}

.filtros-grid ::ng-deep .mat-mdc-form-field-flex {
  height: 40px ;
  align-items: center;
  
}

.filtros-grid ::ng-deep .mat-mdc-floating-label {
  top: 10px ; /* Ajusta a posição do texto da label */
  font-size: 10px;
}